Repository medibloc/panacea-core, pull requests merged in 2022-12, with the labels that each got.

#539 feat: implement dataDeal query client
  proto/panacea/datadeal/v2/query.proto
  types/testsuite/suite.go
  x/datadeal/client/cli/query.go
  x/datadeal/client/cli/queryCertificate.go
  x/datadeal/keeper/grpc_query_deal.go
  x/datadeal/keeper/grpc_query_deal_test.go
  x/datadeal/types/deal.go
  x/datadeal/types/query.pb.go
Labels: x/datadeal

#541 feat: apply oracle commission
  x/datadeal/keeper/certificate.go
  x/datadeal/keeper/certificate_test.go
  x/oracle/keeper/keeper.go
  x/oracle/types/params.go
Labels: x/datadeal

#542 feat: added verify uniqueID of certificate
  proto/panacea/datadeal/v2/certificate.proto
  x/datadeal/keeper/certificate.go
  x/datadeal/keeper/certificate_test.go
  x/datadeal/types/certificate.go
  x/datadeal/types/certificate.pb.go
  x/datadeal/types/message_deal.go
  x/datadeal/types/message_deal_test.go
Labels: x/datadeal

#543 feat: add DeactivateDeal Tx keeper, and CLI
  x/datadeal/client/cli/tx.go
  x/datadeal/client/cli/txDeactivateDeal.go
  x/datadeal/keeper/certificate_test.go
  x/datadeal/keeper/deal.go
  x/datadeal/keeper/deal_test.go
  x/datadeal/keeper/msg_server_deal.go
  x/datadeal/types/errors.go
  x/datadeal/types/message_deal.go
Labels: x/datadeal

#540 feat: add UpdateOracleInfo tx
  proto/panacea/oracle/v2/oracle.proto
  proto/panacea/oracle/v2/tx.proto
  x/oracle/client/cli/tx.go
  x/oracle/client/cli/txRegisterOracle.go
  x/oracle/client/cli/txUpdateOracleInfo.go
  x/oracle/genesis_test.go
  x/oracle/handler.go
  x/oracle/keeper/grpc_query_oracle_test.go
  x/oracle/keeper/msg_server_oracle.go
  x/oracle/keeper/oracle.go
  x/oracle/keeper/oracle_test.go
  x/oracle/types/errors.go
  x/oracle/types/message_oracle.go
  x/oracle/types/oracle.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/tx.pb.go
Labels: x/oracle

#553 fix: OracleCommissionRate upper limit
  x/oracle/keeper/oracle_test.go
  x/oracle/types/oracle.go
Labels: bug
